@using System.Activities.Statements
@using System.Collections
@using System.Web.UI.WebControls
@using Fit.Models.Helpers
@model IEnumerable<Fit.Models.Exercise>
@{
    ViewBag.Title = "Index";
}

<div ng-class="{ 'active' : search }" class="search">
    @using (Html.BeginForm("Index", "Exercises", FormMethod.Post))
    {
        @*@Html.TextBox("SearchString")*@
        <input id="SearchString" name="SearchString" type="text" placeholder="Søg øvelse...">
        <!--<input type="submit" value="Søg" />-->
        @*@Html.DropDownList("Tag", "All")*@
    }
</div>
<p>
    @if (User.Identity.IsAuthenticated) {
        @Html.ActionLink("Create New", "Create")
    }
</p>

@foreach (var item in Model)
{
    <div data-sr="enter bottom move 24px" class="excersice__item">
        <a href="@Url.Action("Details", new { id = item.Id })">
            <img src="@Href("~/" + item.ImagePath + "")" />
        </a>
        <h2>
            @Html.DisplayFor(modelItem => item.Title), @Html.DisplayFor(modelItem => item.Tag)
        </h2>
        @if (User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("Edit", "Edit", new { id = item.Id })
            @Html.ActionLink("Details", "Details", new { id = item.Id })
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        }
    </div>
}
